body {
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
ol {
  list-style: decimal;
  padding-left: 20px;
}
ul {
  list-style: none;
}
input,
button {
  margin: 0;
  padding: 0;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Lucida Grande", Verdana, "Helvetica Neue", Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  background: #fff;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #333;
  -webkit-overflow-scrolling: touch;
}
::selection {
  background: rgba(147,181,224,0.6);
  color: #fff;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Times, Georgia, serif;
  font-weight: bold;
}
h1,
h2,
h3 {
  display: block;
}
h1 {
  font-size: 1.6rem;
  font-family: "Segoe UI", "Lucida Grande", Verdana, "Helvetica Neue", Arial, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}
h2 {
  font-size: 1.4rem;
}
h3 {
  font-size: 1.15rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  outline-width: 0;
  color: #258fb8;
  outline: none;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.inner {
  width: 1000px;
  margin: 0 auto;
}
.hide {
  display: none;
}
@media screen and (max-width: 1040px) {
  .inner {
    width: 100%;
  }
}
.article-entry {
  line-height: 1.65em;
  padding: 0 2em;
  font-size: 1rem;
}
.article-entry blockquote {
  padding: 0.4em 20px;
  margin: 0.5em auto;
  border-left: 4px solid rgba(147,181,224,0.4);
  background: rgba(255,255,255,0.4);
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  border-left: 5px solid rgba(112,134,142,0.85);
  background: rgba(255,255,255,0.7);
}
.article-entry blockquote p {
  margin: 0.4em auto;
}
.article-entry blockquote blockquote {
  border-left: none;
}
.article-entry blockquote footer {
  font-style: italic;
}
.article-entry blockquote footer cite::before {
  content: "—";
  padding: 0 0.3em;
}
.article-entry a:hover {
  text-decoration: underline;
  color: #9c9;
}
.article-entry p {
  margin: 0.85em auto;
  line-height: 1.7;
}
.article-entry em {
  font-style: italic;
}
.article-entry video {
  max-width: 100%;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry li strong {
  color: #708090;
}
.article-entry .caption {
  display: block;
  font-size: 0.8em;
  color: #aaa;
}
.article-entry hr {
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border-left: 0;
  border-right: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.article-entry .table-area {
  overflow: auto;
}
.article-entry table {
  width: 100%;
  max-width: 65em;
  border: 1px solid #dedede;
  margin: 15px auto;
  border-collapse: collapse;
  empty-cells: show;
}
.article-entry table tr,
.article-entry table td {
  height: 35px;
}
.article-entry table th {
  font-weight: bold;
  text-align: center;
  background: rgba(158,188,226,0.2);
  white-space: nowrap;
}
.article-entry table tbody tr:hover {
  background: #efefef;
}
.article-entry table td,
.article-entry table th {
  border: 1px solid #dedede;
  padding: 0 10px;
}
.article-entry table tr:nth-child(2n) {
  background: rgba(158,188,226,0.12);
}
.article-entry table td:nth-child(1) {
  white-space: nowrap;
}
.article-entry li {
  margin: 0.1em;
  font-size: 1rem;
}
.article-entry ul,
.article-entry ol {
  margin: 10px 0;
}
.article-entry ul li.task-list,
.article-entry ol li.task-list {
  list-style: none;
  margin-left: 0;
}
.article-entry ul li.task-list::before,
.article-entry ol li.task-list::before {
  display: none;
}
.article-entry li ul,
.article-entry li ol {
  margin-left: 30px;
}
.article-entry ul > li:before {
  content: "";
  background: #dedede;
}
.article-entry ul > li:before {
  display: inline-block;
  content: "";
  width: 0.4em;
  height: 0.4em;
  margin-right: 0.5em;
  margin-bottom: 0.11em;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  background: #d3d3d3;
}
.article-entry h1 {
  margin-top: 30px;
}
.article-entry h2 {
  margin: 0.5em auto;
  color: #66be66;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 1.5rem;
}
.article-entry h2:hover {
  color: #88acdb;
}
.article-entry h2::before,
.article-entry h2::after {
  content: " —— ";
  font-family: Arial;
}
.article-entry h3 {
  margin: 0.5em auto;
  color: #438aac;
  background: rgba(243,248,253,0.6);
  border: 1px solid #d2e8fa;
  padding: 0.2em 0.6em;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}
.article-entry h3:hover a {
  text-decoration: underline;
}
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  margin-top: 20px;
  color: #574c4c;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}
.article-entry figure table {
  border: none;
  width: auto;
  margin: 0;
}
.article-entry figure table tbody tr:hover {
  background: none;
}
.article-meta {
  position: absolute;
  right: 0;
  top: 23px;
  width: 9rem;
  padding-right: 1.2rem;
  font-size: 0.875rem;
  text-align: right;
  z-index: 1;
}
.article-meta time {
  color: #aaa;
  float: right;
}
.article-meta time:before {
  margin-top: 0px;
  margin-right: 4px;
  content: "\f073";
  font: 1em FontAwesome;
  color: #999;
}
.article-meta a:nth-child(2) {
  clear: right;
  float: right;
  padding-top: 0.45rem;
  color: #999;
}
.article-meta a:nth-child(2):hover {
  color: #258fb8;
  font-size: 110%;
}
.article-meta a:nth-child(2) i {
  vertical-align: top;
}
.article-more-link {
  float: right;
  margin-top: 5px;
}
.article-more-link a {
  padding: 2px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #88acdb;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1em;
  white-space: nowrap;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  transition: background 0.3s;
  opacity: 0.75;
}
.article-more-link a:hover {
  background: #9c9;
  opacity: 1;
}
.article-more-link a.hidden {
  visibility: hidden;
}
.article-more-link:hover {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}
#article-nav {
  display: table;
  width: 100%;
  height: 2.5em;
  margin: 1em auto;
  font-size: 1rem;
  background: rgba(158,188,226,0.75);
}
#article-nav:hover {
  background: #93b5e0;
}
.article-nav-title {
  display: table-cell;
  vertical-align: middle;
}
.article-nav-title a {
  color: #fff;
}
.article-nav-title a:hover {
  font-style: italic;
}
#article-nav-older {
  padding-right: 1em;
  text-align: right;
}
#article-nav-older::after {
  padding-left: 0.5em;
  content: "→";
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
}
#article-nav-newer {
  padding-left: 1em;
  text-align: left;
}
#article-nav-newer::before {
  padding-right: 0.5em;
  content: "←";
  color: #fff;
  font-weight: bold;
  font-family: Calibri;
}
#intro {
  display: inline;
  font-weight: normal;
  font-size: inherit;
  opacity: 0;
  color: #fff;
}
#intro::before,
#intro::after {
  content: none;
}
li:hover {
  background: rgba(158,188,226,0.21);
}
.article-entry > ol:last-child > li:nth-child(2n) {
  background: rgba(158,188,226,0.12);
}
.article-entry > ol:last-child li {
  word-break: break-all;
}
.article-entry > ol:last-child li:hover {
  background: #f0f0f0;
}
#tocButton {
  position: fixed;
  left: 220px;
  top: 385px;
  font-size: 0.9em;
  font-weight: bold;
  font-family: inherit;
  color: #d3d3d3;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
}
#tocButton:hover {
  color: #88acdb;
}
.toc-article {
  position: fixed;
  width: 230px;
  top: 378px;
  bottom: 1em;
  left: 0;
  margin-left: 0;
  padding: 6px 10px 10px 50px;
  border-radius: 2.8%;
  overflow: auto;
}
#toc {
  font-size: 0.9rem;
  line-height: 1.65em;
}
#toc .toc-title {
  font-weight: bold;
  color: #808080;
}
#toc .toc-title.clickable {
  cursor: pointer;
}
#toc .toc-title.clickable:hover {
  color: #88acdb;
}
#toc .toc-title.clickable:active {
  color: #d3d3d3;
}
#toc ol.toc {
  margin-left: 0;
  padding: 0.7em;
  padding-right: 0;
}
#toc ol.toc li.toc-item {
  list-style-type: none;
}
#toc ol.toc li.toc-item i {
  display: inline-block;
  margin-left: -0.9em;
  width: 0.9em;
  color: #b3b3b3;
  font-weight: bold;
  cursor: pointer;
}
#toc ol.toc li.toc-item i:hover {
  color: #000;
}
#toc ol.toc li.toc-item i.hide {
  display: none;
}
#toc ol.toc li.toc-item:hover {
  background: none;
}
#toc ol.toc a.toc-link {
  color: #808080;
}
#toc ol.toc a.toc-link:visited {
  color: #f48385;
}
#toc ol.toc a.toc-link:hover {
  color: #88acdb;
  text-decoration: none;
  background: rgba(158,188,226,0.21);
}
#toc ol.toc ol.toc-child {
  padding-left: 1.25em;
  margin: 4px 0;
}
.copyright {
  width: 85%;
  max-width: 45em;
  margin: 1.2em auto 0;
  padding: 0.5em 1.8em;
  border: 1px solid #d3d3d3;
  font-size: 0.93rem;
  line-height: 1.6em;
  word-break: break-all;
  background: rgba(255,255,255,0.4);
}
.copyright span {
  display: inline-block;
  width: 5.8em;
  color: #b5b5b5;
  font-weight: bold;
}
.copyright a {
  color: #808080;
}
.copyright a:hover {
  color: #a3d2a3;
  text-decoration: underline;
}
.copyright:hover .fa-clipboard {
  color: #000;
}
.copyright .copy-path {
  margin-left: 1em;
  width: 1em;
}
.copyright .copy-path:hover {
  color: #808080;
  cursor: pointer;
}
aside.comment-bar {
  display: block;
  cursor: pointer;
  background: rgba(255,255,255,0.3);
  padding: 0.5rem;
  -webkit-box-shadow: 3px 2px 8px rgba(0,0,0,0.07);
  box-shadow: 3px 2px 8px rgba(0,0,0,0.07);
  text-align: center;
  font-size: 2rem;
}
aside.comment-bar i.fa-spinner {
  display: none;
}
aside.comment-bar a {
  display: inline-block;
  width: 3em;
}
aside.comment-bar a span {
  font-size: 1.5rem;
}
aside.comment-bar:active {
  background: none;
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.archives-wrap {
  position: relative;
  margin: 0 30px;
  padding-right: 1.5em;
  border-bottom: 1px solid #eee;
  background: #fff;
}
.archives-wrap:first-child {
  margin-top: 30px;
}
.archives-wrap:last-child {
  margin-bottom: 80px;
}
.archives-wrap .archive-year-wrap {
  line-height: 35px;
  width: 200px;
  position: absolute;
  padding-top: 20px;
  font-size: 1.8em;
}
.archives-wrap .archive-year-wrap a {
  color: #666;
  font-weight: bold;
  padding-left: 48px;
}
.archives {
  position: relative;
}
.archives .article-info {
  border: none;
}
.archives .archive-article {
  margin-left: 160px;
  padding: 0.5em 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fff;
  position: relative;
}
.archives .archive-article:first-child {
  border-top: 1em;
  padding-top: 20px;
}
.archives .archive-article:last-child {
  border-bottom: none;
}
.archives .archive-article-title {
  font-size: 1.125rem;
  color: #333;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.archives .archive-article-title:hover {
  color: #657b83;
}
.archives .archive-article-title span {
  display: block;
  color: #a8a8a8;
  font-size: 12px;
  line-height: 14px;
  height: 7px;
  padding-left: 2px;
}
.archives .archive-article-title span:before {
  display: inline-block;
  content: "“";
  font-family: serif;
  font-size: 30px;
  float: left;
  margin: 4px 4px 0 -12px;
  color: #c8c8c8;
}
.archive-article-inner .archive-article-header {
  position: relative;
}
.archive-article-inner .article-meta {
  position: relative;
  float: right;
  margin-top: -0.277777777777778rem;
  padding-right: 0;
  color: #555;
  background: none;
  text-align: right;
  width: auto;
}
.archive-article-inner .article-meta .article-date time {
  color: #aaa;
}
.archive-article-inner .article-meta .archive-article-date,
.archive-article-inner .article-meta .article-tag-list {
  margin-right: 1em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #666;
  font-size: 14px;
}
.archive-article-inner .article-meta .archive-article-date {
  cursor: default;
  font-size: 0.875rem;
  margin-bottom: 5px;
  margin-top: -10px;
}
.archive-article-inner .article-meta .archive-article-date time:before {
  content: "\f073";
  color: #999;
  position: relative;
  margin-right: 10px;
  font: 16px FontAwesome;
}
.archive-article-inner .article-meta .article-category:before {
  float: left;
  margin-top: 1px;
  left: 15px;
}
.archive-article-inner .article-meta .article-category .article-category-link {
  width: auto;
  max-width: 83px;
  padding-left: 10px;
}
.archive-article-inner .article-meta .article-tag-list {
  margin-top: 0px;
}
.archive-article-inner .article-meta .article-tag-list:before {
  left: 15px;
}
.archive-article-inner .article-meta .article-tag-list .article-tag-list-item {
  display: inline-block;
  width: auto;
  max-width: 83px;
  padding-left: 8px;
  font-size: 12px;
}
.archives-wrap {
  background: rgba(255,255,255,0.4);
}
.archives-wrap .archives {
  background: transparent;
}
.article-entry pre,
.article-entry .highlight {
  background: rgba(51,51,51,0.85);
  margin: auto;
  padding: 0.35em 1.5em;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  overflow: auto;
  color: #ccc;
  line-height: 1.3rem;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #d3d3d3;
  font-size: 0.85rem;
}
.article-entry pre,
.article-entry code {
  font-family: Menlo, Consolas, "Source Code Pro", Inconsolata, Monaco, monospace, "Microsoft YaHei", "PingFang SC", "Hiragino Sans GB", "WenQuanYi Micro Hei";
  font-size: 1em;
}
.article-entry pre code {
  text-shadow: none;
  padding: 0;
  background: none;
  color: #ccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.article-entry .highlight {
  border-radius: 2px;
  max-height: 50em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  overflow: auto;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}
.article-entry .highlight pre {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 1em;
}
.article-entry .highlight .line {
  line-height: 1.3rem;
}
.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: rgba(51,51,51,0.85);
  padding: 15px 20px 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: Menlo, Consolas, "Source Code Pro", Inconsolata, Monaco monospace;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: rgba(51,51,51,0.85);
  color: #999;
  font: 0.85em "Lucida Grande", Verdana, "Helvetica Neue", Arial;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px;
}
.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
.article-entry code {
  color: #808080;
  background: rgba(248,237,223,0.5);
  padding: 0.05em 0.3em;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.08);
  var: 1;
  color: #fff;
  background: rgba(153,204,153,0.7);
}
pre .comment,
pre .title {
  color: #999;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
